.loginform {
  width: 45%;
  height: 550px;
  padding: 3% 6%;
  box-shadow: 0 9px 16px 0 rgba(0,106,194,.2);
}
.login-heading,.input-section,.btn-section {
    font-size: 20px;
    margin-bottom: 15px;
}
.label-section{
    margin-bottom: 2px;
}
form label{
    font-size: 14px;
    font-weight: 400;
    
}
form input{
    padding: 12px;
    width: 100%;
   background-color:#E7F0FE;
   border: none;
}

.btn-section button{
    padding: 12px;
    width: 100%;
    font-size: 14px;
   color: #fff;
   background-color:#4B8FE2;
   border:none;
}

.btn-section p{
    padding: 12px;
    width: 100%;
    font-size: 14px;
   color: #fff;
   background-color:#4B8FE2;
   border:none;
   text-align: center;
   cursor: pointer;
}
.error{
    color:red;
    font-size: 10px;
}
