.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

#modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #4b8ee2;
}
