:root {
  --rad: 5%;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
  border-radius: var(--rad);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  border-radius: var(--rad);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  border-radius: var(--rad);
}

#modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #4b8ee2;
  background-color: #fff;
}

button {
  border: 1px solid #4b8ee2;
  padding: 5px 20px;
  border-radius: 30px;
  background-color: #fff;
  color: #4b8ee2;
  transition: 0.3s ease-in-out;
}

svg {
  color: #4b8ee2;
  width: "10px";
  height: "10px";
}
