/* src/components/Header.css */
header {
  /* background-color: #fff; */
  color: #fff;
  padding: 5px 6%;
  text-align: left;
}

.header-content {
  display: flex;
  flex-direction: row; /* Align items in a row */
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.header-logo {
  width: 50px;
  height: 40px;
}
.header-content ul li {
  color: #474d6a;
  list-style: none;
}

.header-search-input {
  margin-top: 8px;
  padding: 10px;
  border: 10px solid #fff;
  border-radius: 20%;
  color: #333;
  background-color: #fff;
  background-image: url("src/assets/search img.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 0%;
  background-position-x: right;
}
.header-login-btn {
  border: 1px solid #275df5;
  color: #275df5;
  border-radius: 30px;
  padding: 5px 15px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.header-login-btn:hover {
 
  background-color: #fafafa;
  
}
.search-icon {
  width: 20px;
  height: auto;
  margin: 100px;
}
