@media (max-width: 480px) {
  .job-list-body {
    margin: 20px 10%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px 10px 10px 0px;
    height: 140px;
    /* min-width: 400px; */
    position: relative;
    width: 80%;
  }

  .job-board-container button {
    height: 50px;
    /* margin: auto auto; */
    /* border: 1px solid white; */
  }
  .job-image {
    width: 60px;
    height: 50px;
    border: 1px solid #e3e9ef;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -28px;
    top: 12px;
  }
  .job-card-img {
    width: 90%;
    height: 90%;
    align-items: center;
  }
  .joblist-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 45px;
  }
  .joblist-card ul {
    margin-bottom: 0px;
  }
  .joblist-card .job-location {
    /* width: 40%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-weight: 300;
  }

  .joblist-card h3 {
    font-weight: 300px;
    font-size: 16px;
    margin: 20x;
  }

  .job-card-apply {
    position: absolute;
    right: 25px;
    border: 1px solid #4b8ee2;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: #fff;
    color: #4b8ee2;
    transition: 0.3s ease-in-out;
  }
  .job-card-apply:hover {
    background-color: #4b8ee2;
    color: #fff;
  }

  .job-skills {
    display: flex;
    flex-direction: row;
  }
  .job-skills li {
    list-style: none;
    font-size: 11px;
    font-weight: 300;
    color: #6f6f6f;
  }
}
