.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color:#fff;
  /* position: fixed;
  bottom:0 */
}

.footer-container {
  margin: 4% 10% 2% 10%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.footer-logo {
    width: 70px;
    height: 70px;
  }
  .social-images i {
    width: 30px;
    height: 30px;
  }
.footer-container ul li {
  margin-bottom: 15px;
  list-style: none;
  transition: 0.3s ease-in-out;
}
.footer-container ul li:hover{
    color:#265DF5;
    cursor: pointer;
}
.images-container img,
.images-container p,
.images-container .social-images {
  padding-bottom: 10px;
}

.copy-right {
  text-align: center;
  border-top: 1px solid #8291b4;
  margin: 0px 10%;
  padding: 15px;
}


